<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Upload Migas Szymon</title>
</head>

<body>
    <header>
        <ul>
            <li><a href="../filemanager">File Manager</a></li>
            <li><a href="../reset">Reset</a></li>
            <li><a href="../info">Info</a></li>
            <li><a href="../upload">Upload</a></li>
        </ul>
    </header>
    {{{body}}}
</body>

</html>