<div class="left">
    <h2>Upload plików</h2>
</div>
<div class="uploadForm">
    <form enctype="multipart/form-data" method="POST" action="/uploadSend">
        <input type="file" required multiple accept="*" name="upload">
        <input type="submit" name="upload" id="upload" value="Prześlij plik">
    </form>
</div>